<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 SINTEF <brice.morin@sintef.no>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="diva.model.rest.actionSet">
         <menu
               label="Di&amp;va Rest"
               id="divaRest">
            <separator
                  name="divaRestGroup">
            </separator>
         </menu>
         <action
               label="&amp;Start"
               icon="icons/DivaModelFile.gif"
               class="diva.rest.actions.SampleAction"
               tooltip="Start DiVA Daemon with Rest API"
               menubarPath="divaRest/divaRestGroup"
               toolbarPath="divaRestToolBar"
               id="diva.rest.actions.SampleAction">
         </action>
         <action
               class="diva.rest.actions.SampleActionStatic"
               id="diva.rest.actions.TestStatic"
               label="&amp;Test"
               menubarPath="divaRest/divaRestGroup"
               toolbarPath="divaRestToolBar"
               tooltip="Start DiVA Daemon with Rest API">
         </action>
      </actionSet>
   </extension>

</plugin>
