<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="diva.model.rest.actionSet">
         <menu
               label="Di&amp;va Rest"
               id="divaRest">
            <separator
                  name="divaRestGroup">
            </separator>
         </menu>
         <action
               label="&amp;Start"
               icon="icons/DivaModelFile.gif"
               class="diva.rest.actions.SampleAction"
               tooltip="Start DiVA Daemon with Rest API"
               menubarPath="divaRest/divaRestGroup"
               toolbarPath="divaRestToolBar"
               id="diva.rest.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
