<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 SINTEF <brice.morin@sintef.no>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/05/26 22:25:43 franck Exp $
-->

<plugin>
  
  
  <extension
         point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="diva.ui"
           nameFilter="*.diva"
           objectClass="org.eclipse.core.resources.IFile">
        <menu
              icon="icons/DivaModelFile.gif"
              id="diva.ui.menu"
              label="DiVA"
              path="additions">
           <separator
                 name="design">
           </separator>
        </menu>
     </objectContribution>
      
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.diva"
            id="diva.simulator.ui">
         <menu
               label="Simulator"
               path="diva.ui.menu/design"
               id="diva.ui.menu.simulator">
            <separator
                  name="g1">
            </separator>
             <separator
                  name="g2">
            </separator>
            <separator
                  name="g3">
            </separator>
            <separator
                  name="g4">
            </separator>
         </menu>
         <action
               label="Perform a Complete Simulation"
               class="diva.ksimulator.ui.RunPopulateCompleteSimulation"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g1"
               enablesFor="1"
               id="diva.simulator.ui.action11">
         </action>
		<action
               label="Step 1 - Infer Suitable Configurations"
               class="diva.ksimulator.ui.RunPopulateValidConfigurations"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g2"
               enablesFor="1"
               id="diva.simulator.ui.action1">
         </action>
         <action
               label="Step 2 - Compute Property Priorities"
               class="diva.ksimulator.ui.RunPopulatePriorities"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g2"
               enablesFor="1"
               id="diva.simulator.ui.action2">
         </action>
         <action
               label="Step 3 - Compute Configuration Scores"
               class="diva.ksimulator.ui.RunPopulateScores"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g2"
               enablesFor="1"
               id="diva.simulator.ui.action3">
         </action>
         <action
               label="Step 4 - Compute Verdicts"
               class="diva.ksimulator.ui.RunPopulateVerdicts"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g2"
               enablesFor="1"
               id="diva.simulator.ui.action4">
         </action>
         <action
               label="Clean Model"
               class="diva.ksimulator.ui.RunCleanModel"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g4"
               enablesFor="1"
               id="diva.simulator.ui.action31">
         </action>
         <action
               label="Export Alloy Specification"
               class="diva.ksimulator.ui.RunPrintAlloySpec"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g4"
               enablesFor="1"
               id="diva.simulator.ui.action21">
         </action>
         <action
               class="diva.ksimulator.ui.RunCreateExhaustiveSimulation"
               enablesFor="1"
               id="diva.simulator.ui.action42"
               label="Create Exhaustive Simulation Scenario"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g4">
         </action>
         <action
               class="diva.ksimulator.ui.RunExportAdaptationStateMachine"
               enablesFor="1"
               id="diva.simulator.ui.action43"
               label="Export Adaptation State Machine"
               menubarPath="diva.ui.menu/diva.ui.menu.simulator/g4">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="diva.model.Property"
            objectClass="diva.Property">
         <action
               class="diva.popups.CreateDefaultLiterals"
               enablesFor="1"
               id="diva.property.createDefaults"
               label="Create default literals"
               menubarPath="DiVA">
         </action>
      </objectContribution>
      
   </extension>

</plugin>
