<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 SINTEF <brice.morin@sintef.no>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="diva.presentation.DivaModelWizardID"
            name="%_UI_DivaModelWizard_label"
            class="diva.presentation.DivaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DivaModelFile.gif">
         <description>%_UI_DivaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="diva.presentation.DivaEditorID"
            name="%_UI_DivaEditor_label"
            icon="icons/full/obj16/DivaModelFile.gif"
            extensions="diva"
            class="diva.editor.DiVATableEditor"
            contributorClass="diva.presentation.DivaActionBarContributor">
      </editor>
   </extension>

</plugin>
